html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("bg3.jpg"); }

.desktop-only {
  display: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.top-nav {
  background: #d0c1de;
  margin-top: 10px;
  height: 65px;
  position: relative;
  top: 70px;
  border-top: 2px solid #695053;
  border-bottom: 2px solid #695053; }
  .top-nav-menu {
    display: flex; }
    .top-nav-menu-left li {
      margin-right: 50px; }
    .top-nav-menu-right li {
      margin-left: 50px; }
    .top-nav-menu li a {
      color: white;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase; }
  .top-nav .row {
    height: 65px;
    width: 100%; }
  .top-nav .logo img {
    position: relative;
    top: -90px;
    z-index: 100;
    width: 250px; }

.dotted-border {
  width: 100%;
  height: 90%;
  margin: 2px 0;
  border-top: 4px dotted #575350;
  border-bottom: 4px dotted #575350; }

.col-md-auto {
  padding: 0 !important; }

.container {
  margin-top: 8%;
  z-index: 10; }

.cookies-bg img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border: 2px solid white;
  border-radius: 20px; }

.open-block-right {
  border: 2px solid white;
  border-radius: 20px;
  background-color: #c0e1da;
  margin-left: -35px; }
  @media (max-width: 768px) {
    .open-block-right {
      margin-left: 0; } }
  .open-block-right img {
    width: 100%;
    margin: 30px auto; }
  .open-block-right .work-hours {
    margin-top: 8%; }
    .open-block-right .work-hours p {
      display: block;
      color: white;
      font-weight: bold;
      font-size: 24px;
      text-align: center; }

.close {
  position: absolute;
  top: 5px;
  right: 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: 100; }
  .close:before, .close:after {
    content: "";
    position: absolute;
    top: 21px;
    left: 10px;
    width: 26px;
    height: 2px;
    background: black; }
  .close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.mobile-menu {
  display: none; }
  .mobile-menu.mobile-menu-show {
    display: block;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%; }

.mobile-menu .close {
  top: 10px;
  right: 15px; }
  .mobile-menu .close:before, .mobile-menu .close:after {
    width: 45px; }

.burger-button {
  position: absolute;
  top: 8.12vh;
  transform: translate(0, -50%);
  right: 25px;
  cursor: pointer; }
  .burger-button span {
    height: 2px;
    width: 35px;
    background: #333333;
    display: block;
    margin-bottom: 11px; }

.main-mobile-menu {
  margin: 0;
  padding: 0;
  background: #d0c1de;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .main-mobile-menu li {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px; }
    .main-mobile-menu li a {
      text-transform: uppercase;
      font-size: 28px;
      color: black;
      text-align: center;
      display: block;
      text-decoration: none; }

@media (min-width: 831px) {
  .mobile-only {
    display: none; }

  .desktop-only {
    display: block; } }
@media (max-width: 831px) {
  .container {
    margin-top: 15%; } }

/*# sourceMappingURL=style.css.map */
